.div1 {
    
    text-align: center;
}

.div2 p {
    padding-top: 20px;
}

.div2 {
    text-align: left;
    padding-left: 255px;
    width: 70%;
}

.div2 .title {
    font-weight: 450;
    color: gray;
    font-size: 15px;
}

.div2 .topic {
    font-size: 40px;
    font-weight: 500;
}

.div2 .coppyright {
    font-weight: 450;
    color: gray;
    font-size: 15px;
}